.footer {
  background-color: #303030;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 50px 10% 10px;

  &-copyright {
    text-decoration: none;
    font-size: 10px;
  }

  &-contact {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex: 1;
    margin-bottom: 70px;

    div {
      flex: 1;
    }

    h4 {
      margin: 25px 0 20px;
      font-size: 22px;
      color: #d31d4b;
    }

    p {
      margin: 10px 0;
      font-size: 16px;
    }
  }

  &-map {
    flex: 1;
  }
}
