.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(74, 74, 74, 0.8);
  z-index: 10;

  &-imgCounter {
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    margin: 30px;
    font-size: 18px;
  }

  &-closeBtn {
    position: fixed;
    top: 0;
    right: 0;

    padding: 25px 30px;
    font-size: 30px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }

  &-btn {
    font-size: 25px;
    padding: 20px;
    margin: 0 20px;
    height: 85%;
    width: 10%;
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: rgba(92, 92, 92, 0.1);
    }
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 450px;
  min-height: 200px;
  width: 70%;
  height: 80%;
  padding: 20px;
  border-radius: 5px;
  background-color: transparent;
  color: black;

  /* -webkit-box-shadow: 10px 10px 37px -19px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 10px 10px 37px -19px rgba(0, 0, 0, 0.22);
  box-shadow: 10px 10px 37px -19px rgba(0, 0, 0, 0.22); */

  &-display {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.popInAnimation {
  animation: 0.5s 1 normal fadeIn;
}

.popOutAnimation {
  animation: 0.4s 1 normal fadeOut;
}

@keyframes fadeIn {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

@keyframes fadeOut {
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}
