.galleryGrid {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
}
